<h1>Your new pirate and ships have been added!</h1>

<h2>Pirate Details</h2>
<ul>
  <li>Pirate Name: <%= @pirate.name %></li>
  <li>Pirate Weight: <%= @pirate.weight %></li>
  <li>Pirate Height: <%= @pirate.height %></li>
</ul>

<h2>Ship Details</h2>
<% @ships.each.with_index(1) do |ship, index| %>
  <h3>Ship <%= index %>:</h3>
  <ul>
    <li>Ship Name: <%= ship.name %></li>
    <li>Ship Type: <%= ship.type %></li>
    <li>Ship Booty: <%= ship.booty %></li>
  </ul>
<% end %>
